/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background: #ffffff;
  color: #222;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

button {
  cursor: pointer;
  border: none;
} */

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

section {
    scroll-margin-top: 90px;
}